@(messageSeq: Seq[SearchConditionRecord])(implicit messages: Messages, request: RequestHeader)


@app(Messages("SearchConditionList")) {
    <div class="container">
        <div class="row">
            <h3 id="inline-form" class="page-header" style="padding-top: 20px">@Messages("検索条件保存リスト")</h3>
            <table class="table table-hover" style="font-size: 12px">
                <thead class="thead-dark">
                    <tr>
                        <th>検索条件ID</th>
                        <th>保存日時</th>
                        <th>条件1</th>
                        <th>条件2</th>
                        <th>条件3</th>
                        <th>条件4</th>
                        <th>条件5</th>
                        <th>条件6</th>
                        <th>条件7</th>
                        <th>条件8</th>
                    </tr>
                </thead>
                <tbody>
                @for(message <- messageSeq) {
                    <tr>
                        <td>@message.searchId</td>
                        <td>@message.createdAt</td>
                        <td>@message.condition1</td>
                        <td>@message.condition2</td>
                        <td>@message.condition3</td>
                        <td>@message.condition4</td>
                        <td>@message.condition5</td>
                        <td>@message.condition6</td>
                        <td>@message.condition7</td>
                        <td>@message.condition8</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

}